* {
    margin: 0;
    padding: 0;
    color: white;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
}

* {
    margin: 0;
    padding: 0;
}

.content {
    z-index: 10;
    min-height: calc(100vh - 40vh);
}

body {
    background-image: url('../public/img.jpg');
    max-width: 100%;
    height: auto;
}

.footerItems {
    display: flex;
    gap: 5em;
    justify-content: center;
    text-align: center;
}

.nameItem {
    font-size: 42px;
}

.characterItem {
    font-size: 32px;
}
@media screen and (max-width: 728px) {
    .footerItems {
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: center;
        text-align: center;
        margin-top: 15%;
    }
    .characterItem {
        font-size: 28px;
    }
    .nameItem {
        font-size: 28px;
    }
}