* {
    margin: 0;
    padding: 0;
    color: white;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
}

* {
    margin: 0;
    padding: 0;
}

.content {
    z-index: 10;
    min-height: calc(100vh - 50vh);
}

body {
    background-image: url('../public/img.jpg');
    max-width: 100%;
    height: auto;
}

.footerItems {
    display: flex;
    gap: 5em;
    justify-content: center;
    text-align: center;
}

.nameItem {
    font-size: 42px;
}

.characterItem {
    font-size: 32px;
}
.items {
    padding: 15px 20px;
    margin: 10px;
    background: rgba(0,0,0,.3);
    border-radius: 25px;
    /*opacity: 0.5;*/
    color: white;

}
@media screen and (max-width: 728px) {
    .footerItems {
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: center;
        text-align: center;
    }
    .characterItem {
        font-size: 28px;
    }
    .nameItem {
        font-size: 28px;
    }
}