@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Raleway:ital,wght@1,200;1,300;1,400&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    color: white;
}
.MainTitle {
    padding-top: 2vh;
}
.SubTitle {
    padding-top: 2vh;
}
.header {
    height: 10%;
    text-align: center;
}

.now .now-astro-sun {
    z-index: 1;
    height: 70px;
    margin-left: -170px;
    width: 340px;
}

.now-astro, .now-astro-sun {
    left: 50%;
    position: absolute;
}

.now-astro {
    /*margin-top: 22px;*/
    transform: translate(-50%, 40px);
    width: 390px;
    overflow: hidden;
}

.now-astro {
    height: 250px;
}

.now .now-astro-line {
    z-index: -1;
    background-size: 600px 600px;
    height: 600px;
    margin-left: -130px;
    width: 600px;
}

.now-astro-line-day {
    background-image: url(https://static.gismeteo.st/assets/icons/day_path.svg);
    transform: rotate(0deg);
}

.now .now-astro-line {
    position: absolute;
}

.sunriseSunset {
    display: flex;
    justify-content: space-between;
    margin-top: 25%;
}
@media screen and (max-width: 728px) {
    .sunriseSunset {
        display: flex;
        justify-content: space-between;
        margin-top: 25%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.degrees {
    margin-top: 12vh;
    text-align: center;
    font-size: 80px;
}
.weatherNow {
    text-align: center;
}