* {
    color: white;
}
.MainTitle {
    padding-top: 3vh;
}
.SubTitle {
    padding-top: 5vh;
}
.header {
    height: 10%;
    text-align: center;
}

.now .now-astro-sun {
    z-index: 1;
    height: 70px;
    margin-left: -170px;
    width: 340px;
}

.now-astro, .now-astro-sun {
    left: 50%;
    position: absolute;
}

.now-astro {
    margin-top: 22px;
    transform: translate(-50%, 40px);
    width: 390px;
    overflow: hidden;
}

.now-astro {
    height: 250px;
}

.now .now-astro-line {
    z-index: -1;
    background-size: 600px 600px;
    height: 600px;
    margin-left: -130px;
    width: 600px;
}

.now-astro-line-day {
    background-image: url(https://static.gismeteo.st/assets/icons/day_path.svg);
    transform: rotate(0deg);
}

.now .now-astro-line {
    position: absolute;
}

.sunriseSunset {
    display: flex;
    justify-content: space-between;
    margin-top: 25%;
}

.degrees {
    margin-top: 15vh;
    text-align: center;
    font-size: 111px;
}
.weatherNow {
    text-align: center;
}