@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Raleway:ital,wght@1,200;1,300;1,400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: white;
}
.content {
    z-index: 10;
    min-height: calc(100vh - 50vh);
}

body {
    background-image: url('../public/img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*max-width: 100%;*/
    /*height: auto;*/
}

.MainTitle {
    padding-top: 2vh;
}

.SubTitle {
    padding-top: 2vh;
}

.header {
    height: 10%;
    text-align: center;
}

.now .now-astro-sun {
    z-index: 1;
    height: 70px;
    margin-left: -170px;
    width: 340px;
}

.now-astro, .now-astro-sun {
    left: 50%;
    position: absolute;
}

.now-astro {
    transform: translate(-50%, 40px);
    width: 390px;
    overflow: hidden;
}

.now-astro {
    height: 250px;
}

.now .now-astro-line {
    z-index: -1;
    background-size: 600px 600px;
    height: 600px;
    margin-left: -130px;
    width: 600px;
}

.now-astro-line-day {
    background: url(https://i.postimg.cc/85D5zSdv/day-path.png);
    transform: rotate(0deg);
}

.now .now-astro-line {
    position: absolute;
}

@media screen and (min-width: 729px) {

    .sunriseSunset {
        display: flex;
        justify-content: space-between;
        margin-top: 25%;
    }

    .mainData {
        margin-top: 4vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .degrees {
        margin-top: 7vh;
        text-align: center;
        font-size: 70px;
    }

    .weatherNow {
        text-align: center;
        font-size: 30px;
        width: 60%;
    }
}

@media screen and (max-width: 728px) {
    .sunriseSunset {
        display: flex;
        justify-content: space-between;
        margin-top: 25%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .mainData {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .degrees {
        margin-top: 7vh;
        text-align: center;
        font-size: 70px;
    }

    .weatherNow {
        text-align: center;
        font-size: 30px;
        width: 60%;
    }
}